<nav id="nav">
  <div id="all">
    <img id="nav-img" src="assets/shopping-bag.png" alt="logo">
    <h1 id="title">LoveBags</h1>
    <div id="nav-bar">
      <ul>
        <li>
          <a class="nav-link">Colleción</a>
        </li>
        <li>
          <a class="nav-link">Productos</a>
        </li>
        <li>
          <a class="nav-link">Sobre nosotros</a>
        </li>
      </ul>
    </div>
    <div id="nav-esc-esc">
      <input type="checkbox" id="nav-esc">
      <label for="nav-esc">
        <img src="https://cdn1.iconfinder.com/data/icons/feather-2/24/menu-512.png" id="hamb" alt="hamburguer">
      </label>
      <div id="mostrar">
        <ul>
          <li>
            <a class="nav-link-link">Colleción</a>
          </li>
          <li>
            <a class="nav-link-link">Productos</a>
          </li>
          <li>
            <a class="nav-link-link">Sobre nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
